@page
@model Clockcard.Pages.EmployeeDetails.DetailsModel

@{
    ViewData["Title"] = "EmpDetails";
}


<div>
    <h1>Employee Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.USERNAME)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.USERNAME)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.FIRSTNAME)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.FIRSTNAME)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.SURNAME)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.SURNAME)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.PHONE)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.PHONE)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.EMAIL)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.EMAIL)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.ROLE)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.ROLE)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4><b>@Html.DisplayNameFor(model => model.EmpDetailsVM.ISACTIVE)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.EmpDetailsVM.ISACTIVE)</h4>
        </dd>
    </dl>
</div>
<div class="text-center" style="color: #924091">
    @{

        if (Model.role.Equals("3"))
        {
            <a asp-page="./Edit" asp-route-id="@Model.EmpDetails.EMPREF" style="color: #924091"><h3><b>Edit</b></h3></a>
        }
        if (!Model.role.Equals("1"))
        {
            <a asp-page="./Index" style="color: #924091"><h3><b>Back</b></h3></a>
        }
        <a href="~/Secured" style="color: #924091"><h3><b>Main Menu</b></h3></a>
    }


</div>
<div>
    @*<a asp-page="Timetable/Details" asp-route-id="@Model.Timeline.EMPREF">TimeTable</a>*@
    @*<a asp-page="Clockcard/Details" asp-route-id="@Model.Clock.EMPREF">TimeTable</a>*@

</div>