@page
@model Clockcard.Pages.EmployeeDetails.IndexModel

@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>
@{
    if (Model.role.Equals("3"))
    {
        <p>
            <a asp-page="Create" style="color: #924091"><h3><b>Create New</b></h3></a>
        </p>
    }
}


<table class="table"style="color: #924091">
    <thead>
        <tr>
            <th>
                <h3>@Html.DisplayNameFor(model => model.EmpDetails[0].USERNAME)</h3>
            </th>
            <th>
                <h3>@Html.DisplayNameFor(model => model.EmpDetails[0].FIRSTNAME)</h3>
            </th>
            <th>
                <h3>@Html.DisplayNameFor(model => model.EmpDetails[0].SURNAME)</h3>
            </th>
            <th>
                <h3>@Html.DisplayNameFor(model => model.EmpDetails[0].ISACTIVE)</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:white">
        @foreach (var item in Model.EmpDetailsVMList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USERNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRSTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SURNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISACTIVE)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.EMPREF"style="color: #924091"><b>Details</b></a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="text-center">
    <a href="~/Secured" style="color: #924091"><h3><b>Main Menu</b></h3></a>
    </div>
