@page
@model Clockcard.Pages.ClockCard.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Clocking</h1>

<h3 style="color: #924091">Are you sure you want to delete these Clockings?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color: #924091">
            <h4>
                <b>
                    @Html.DisplayNameFor(model => model.Clock.EMPREF)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>
               
                    @Html.DisplayFor(model => model.Clock.EMPREF)</h4>
        </dd>
        <dt class="col-sm-2"style="color: #924091">
            <h4><b>
            @Html.DisplayNameFor(model => model.Clock.STARTTIME)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>
            @Html.DisplayFor(model => model.Clock.STARTTIME)</h4>
        </dd>
        <dt class="col-sm-2" style="color: #924091">
            <h4>
                <b>
                    @Html.DisplayNameFor(model => model.Clock.ENDTIME)</b></h4>
        </dt>
        <dd class="col-sm-10">
            <h4>@Html.DisplayFor(model => model.Clock.ENDTIME)</h4>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Clock.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" style="background-color: #924091; border-color: #924091 "/>
        <a asp-page="./Index"style="color: #924091"><h3><b>Back to List</b></h3></a>
    </form>
</div>
